@tailwind base;
@tailwind components;
@tailwind utilities;

.outlined-text {
  @apply text-tertiary;
  /* -webkit-text-stroke: 1px #060606; */
  text-shadow:
    1px 1px 0 #060606,
    -1px -1px 0 #060606,
    1px -1px 0 #060606,
    -1px 1px 0 #060606,
    1px 1px 0 #060606;
}

.card-shadow {
  box-shadow: 6px 6px 12px 0px #2f2f2f05;
}

.primary-text-gradient {
  background: linear-gradient(180deg, #de2a2f 0%, #ef5256 100%);
  background-clip: text;
  color: transparent;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .section-container {
    @apply px-[148px] py-[101px];
  }

  .btn-primary {
    @apply flex w-fit items-center rounded-xl bg-tertiary-light px-8 py-4 font-medium text-secondary-dark;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
